.channel-thumbnail {
	margin-top: 5px;
	margin-left: 5px;
	height: 50px;
}

.logo-nav {
	height: 25px;
}

#footer {
	margin-top: 20px;
}
.affix {
   position: static;
}
.affix-top {
   position: static;
}
@media (min-width:1200px){
  .affix {
      position: fixed;
      top: 10px;
  }
}

/* ff border fix */
a:focus
{
  -moz-outline-style: none;
}
a:focus { outline:none }


/* bootstrap override TODO refactor */
.navbar {
	border-radius: 0px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 750px;
    margin: 30px auto;
  }
}

@media (min-width: 1000px) {
  .modal-lg {
    width: 1000px;
  }
}

.user-bar li a {
	display: inline;
	top: 4px;   /* wtf figure that out */
}

.progress {
  height: 20px;
  max-width: 400px;
}

.checkbox {
  padding-left: 0px;
  padding-bottom: 10px;
}

table a, .table a {
  text-decoration: none;
}

.modal-container {
  padding-left: 15px;
  padding-right: 15px;
}
