.channel-thumbnail {
	margin-top: 5px;
	margin-left: 5px;
	height: 50px;
}

.logo-nav {
	height: 25px;
}

#footer {
	margin-top: 20px;
}

/* bootstrap override TODO refactor */
.navbar {
	border-radius: 0px;
}

.user-bar li a {
	display: inline;
	top: 2px;   /* wtf figure that out */
}