{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/inlineplayer.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/flashblock.css') }}" />
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h2>Pick Music</h2>
        <form>
          <input id="q" autocomplete="off" autocorrect="off" type="text" class="form-control" placeholder="Music Search" spellcheck="false">
        </form>
        <br>
       <!-- <div id="sm2-container">
        SM2 flash goes here, but I think we can ship flask. audio html5 is now supported on 83% of browsers 
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>  
       </div> -->
       <div id="player-grid" class="row">

       </div> 
       <small>You must choose, but choose wisely. </small>
    </div>
    <div class="col-lg-4">
      <div data-spy="affix" data-offset-top="70" data-offset-bottom="60">
        <h2>Upload Video</h2>
        <input type="file" name="file" id="file">
        <br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span id="status"></span>
          </div>
        </div>
        <span id="upload-error"></span>
        <div class="well">
        <h5>Your pick: <strong><span id="music_titile"></span></strong></h5>
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <div class="col-lg-12">
                  <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                  <textarea class="form-control" rows="3" id="description" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <a class="btn btn-primary" id="publish">Publish</a> 
                </div>
                <div class="col-xs-4">
                  <div class="checkbox">
                    <label>
                      <input id="override_audio" type="checkbox" checked><small>Override audio</small>
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <select class="form-control" id="privacyStatus">
                    <option>public</option>
                    <option>unlisted</option>
                    <option>private</option>
                  </select>
                </div>
              </div>
            <p class="text-muted"> <small>Any second thoughts about music? No? Publish it!</small></p>
            </fieldset>
          </form>
        </div>
        <div id="ok"></div>
        <small>While you're waiting try <a href="http://flapmmo.com/" target="_blank"> Flappy Bird MMO </a></small>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {{ super() }}
  <div id="player" class="slide-player">
    <div class="container">
      <div class="player-content center-block">
        <table style="vertical-align:middle">
          <tbody>
            <tr>
              <td>
                <a id="player-play" href="#"><i class="fa fa-play fa-lg"></i></a> 
              </td>
              <td>
                <input type="text" data-slider="true">
              </td>
              <td>
                <span id="position">0:00</span>/<span id="duration">0:00</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-xs-1">
          </div>
          <div class="col-xs-9">
          </div>
          <div class="col-xs-1">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  {{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename = 'js/soundmanager2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/inlineplayer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/simple-slider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/s3upload.js') }}"></script>
<script src="https://d3ibatyzauff7b.cloudfront.net/assets/algolia/algoliasearch.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
  var client = new AlgoliaSearch('{{ ALGOLIASEARCH_APPLICATION_ID }}', '{{ ALGOLIASEARCH_API_KEY_SEARCH }}');
  var index = client.initIndex('music');
  var $hits = $('#player-grid');
  // validation on DB side so no XSS
  function searchCallback(success, content) {
    if (!success || $('#q').val() != content.query) {
      return;
    }
    var html = '';
    for (var i = 0; i < content.hits.length; ++i) {
      var hit = content.hits[i];
      html += '<div class="player-item  col-xs-12 col-sm-4">' +
                '<a class="thumbnail" href="' + hit.url + '" data-id="' + hit.id + '"">' +
                '<div class="row">' +
                  '<div class="col-xs-2"><i class="fa"></i></div>' +
                  '<div class="col-xs-10 txt text-right">' + 
                  hit._highlightResult.artist.value + '<br>' +
                  '<strong>' + hit._highlightResult.title.value + '</strong><br>' + 
                  '<small class="text-muted">#' + hit._highlightResult.tag.value + '</small>' +
                  '</div>' +
                '</div>' +
                '</a>' +
              '</div>'
    }
    $hits.html(html);
    inlinePlayer.init();
    //$('#player-play').click(inlinePlayer.handleClick);

  }
  $('#q').keyup(function() {
    index.search($(this).val(), searchCallback, { hitsPerPage: 30 });
  }).trigger('keyup').focus();
});
</script>
<script type="text/javascript">
  var s3_video_url = null;
  function s3_upload(){
    var title = this.files[0].name.split('.')[0];
    var capTitle = title.charAt(0).toUpperCase() + title.slice(1);
    $('#title').val(capTitle);
    var s3upload = new S3Upload({
        s3_object_name: '{{ g.user.google_user_id }}' + '-',
        file_dom_selector: 'file',
        s3_sign_put_url: '/sign-s3/',
        onProgress: function(percent, message) {
          $('#status').html(percent + '% ' + message);
          $('.progress-bar').width(percent + '%');
        },
        onFinishS3Put: function(public_url) {
          s3_video_url = public_url;
          $('#status').html('Upload completed');
        },
        onError: function(status) {
          $('#upload-error').html('Upload error: ' + status);
        }
    });
  }

  $(document).ready(function() {
      $('#file').on('change', s3_upload);
      $('#publish').click(function(){
        if (inlinePlayer.lastSound === null) {
          alert('First pick the best music');
          return;
        }
        if (s3_video_url === null) {
          alert('You need to upload the video first');
          return;
        }
        var data = { 
          title: $('#title').val(),   //TODO validation here as well?
          description: $('#description').val(),
          video_url: s3_video_url,
          music_id: inlinePlayer.lastSoundId,  
          music_url: inlinePlayer.lastSound.url,
          override_audio: $("#override_audio").is(':checked'),
          privacy_status: $("#privacyStatus option:selected").text()
        };
        $.ajax('process-video', {
          data : JSON.stringify(data),
          contentType : 'application/json',
          type : 'POST'
        });
        // Just for fun :)
        if(Math.random() < 0.5) {
          $('#ok').html('Your video will be available on your channels shortly.<br> <img class="img-responsive" src="http://d24w6bsrhbeh9d.cloudfront.net/photo/a44rgWQ_460sa.gif">');
        } else {
          $('#ok').html('Your video will be available on your channels shortly.<br> <img class="img-responsive" src="http://wearesocialmedia.gr/wp-content/uploads/2013/11/3879-animated_gif-chuck_norris-dodgeball-thumbs_up.gif">');
        }
          
      });
  });
</script>
{% endblock %}
