{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/inlineplayer.css" />
  <link rel="stylesheet" type="text/css" href="static/flashblock.css" />
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-lg-4">
      <h2>Your channel </h2>
       <ul class="list-unstyled">
      <blockquote>
        <img src="{{ channels["snippet"]["thumbnails"]["default"]["url"] }}">
        <li> <p> {{ channels["snippet"]["title"] }} </p></li>
      </ul>
      </blockquote>
    </div>
    <div class="col-lg-4">
      <h2>1. Pick Music</h2>
         <div id="sm2-container">
          <!-- SM2 flash goes here -->
         </div>
         <ul class="graphic">
          <li><a href="http://test.co.s3.amazonaws.com/jingiel_bacterion_v2.mp3">Jingiel bacterion</a></li>
          <li><a href="http://www.freshly-ground.com/misc/music/carl-3-barlp.mp3">Barrlping with Carl (featureblend.com)</a></li>
          <li><a href="http://www.freshly-ground.com/data/audio/binaural/Mak.mp3">Angry cow sound?</a></li>
          <li><a href="http://www.freshly-ground.com/data/audio/binaural/Things that open, close and roll.mp3">Things that open, close and roll</a></li>
          <li><a href="http://www.freshly-ground.com/misc/music/20060826%20-%20Armstrong.mp3">20060826 - Armstrong</a></li>
          <li><a href="http://freshly-ground.com/data/video/Rain%20on%20Car%20Roof.aac">Rain On Car Roof (AAC Audio)</a></li>
         </ul>
    </div>
    <div class="col-lg-4">
      <h2>2. Add Video</h2>
      <form action="upload-video" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input class="btn btn-default" type="submit" value="Upload">
      </form>
    </div>
  </div>
  <script type="text/javascript" src="static/soundmanager2.js"></script>
  <script type="text/javascript" src="static/inlineplayer.js"></script
{% endblock %}