{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/landing.css') }}" />
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<a data-toggle="tooltip" data-placement="left" title="" data-original-title="Get in there!" class="sing-up flash animated" href="{{ url_for('google_login') }}">Sing up</a>
<div class="logo text-center">
  <img class="img-responsive push" src="{{ url_for('static', filename = 'img/logo.png') }}">
  <h2>Music for your video.</h2>
</div>
<div class="row content-section-a">
  <div class="col-md-8 col-md-offset-2">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/X-b2Zrr8BEk" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
<div class="row content-section-a">
  <div class="col-sm-5 col-sm-offset-3 col-xs-6 col-xs-offset-1">
    <h2 class="section-heading">Quality Music.</h2>
    <p class="lead">
      Pick the best music from our royalty free collection. No extra legal hassle needed.
    </p>
  </div>
  <div class="col-sm-4 col-xs-4 music">
    <i class="fa fa-music icon-large"></i>
  </div>
</div>
<div class="row content-section-b">
  <div class="col-sm-2 col-sm-offset-3 col-xs-4 col-xs-offset-1 money">
    <i class="fa fa-money icon-large"></i>
  </div>
  <div class="col-sm-4 col-sm-offset-1 col-xs-6">
    <h2 class="section-heading">Simple pricing.</h2>
    <p class="lead">
      Free in beta. 
    </p>
  </div>
</div>
<div class="row content-section-a">
  <div class="col-sm-5 col-sm-offset-3 col-xs-6 col-xs-offset-1">
    <h2 class="section-heading">Seamless process.</h2>
    <p class="lead">
       Just 3 clicks to get things done. No extra software.
    </p>
  </div>
  <div class="col-sm-4 col-xs-4 laptop">
    <i class="fa fa-laptop icon-large"></i>
  </div>
</div>
<div class="row content-section-b bottom-section">
  <div class="col-sm-2 col-sm-offset-3 col-xs-4 col-xs-offset-1 youtube">
    <i class="fa fa-youtube icon-large"></i>
  </div>
  <div class="col-sm-4 col-sm-offset-1 col-xs-6">
    <h2 class="section-heading">Publish to Youtube.</h2>
    <p class="lead">
      Adding music and uploading to Youtube is automatic. 
    </p>
  </div>
</div>
<div class="center">
  <a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Get in there!" class="btn btn-success" href="{{ url_for('google_login') }}">Sing up for free</a>
</div>
{% endblock %}
{% block script %}
  {{ super() }}
  <script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });

  function isElementInViewport(elem) {
      var $elem = $(elem);
      // Get the scroll position of the page.
      var scrollElem = ((navigator.userAgent.toLowerCase().indexOf('webkit') != -1) ? 'body' : 'html');
      var viewportTop = $(scrollElem).scrollTop();
      var viewportBottom = viewportTop + $(window).height();
      // Get the position of the element on the page.
      var elemTop = Math.round( $elem.offset().top );
      var elemBottom = elemTop + $elem.height();
      return ((elemTop + 60) < viewportBottom) && ((elemBottom - 25) > viewportTop); // start when part of the elem is in
  }
  // Check if it's time to start the animation.
  function checkAnimation(selector, anim) {
      var $elem = $(selector);
      // If the animation has already been started
      if ($elem.hasClass(anim)) return;

      if (isElementInViewport($elem)) {
          // Start the animation
          $elem.addClass(anim + ' animated');
      }
  }
  // Capture scroll events
  $(window).scroll(function(){
      checkAnimation('.music', 'swing');
      checkAnimation('.money', 'fadeInLeft');
      checkAnimation('.laptop', 'bounceIn');
      checkAnimation('.youtube', 'pulse');
  });
  </script>
{% endblock %}
